.subscribe-section {
  width: 40%;
}

.subscribe-channel {
  margin-top: 20px;
}

.subscribe-button {
  margin-top: 20px;
  text-align: center;
}

.subscribe-button button {
  background-color: #007bff;
  border: none;
}

.MuiDrawer-paper {
  position: relative !important;
}