* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.root-page {
  background-color: white;
  color: #007bff;
  min-height: 100vh;
  width: 100%;
}

.root-page .header .logout {
  border: 1px solid #007bff;
  color: #007bff;
  font-size: 18px;
  padding: 14px;
}

.MuiDrawer-paper {
  position: relative !important;
}